implement IP Flow Forwarding mode

See [section 8.3 of RFC 9484](https://datatracker.ietf.org/doc/html/rfc9484#section-8.3).